* {
  font-family: "Poppins", serif;
}
body {
  margin-left: 300px;
  margin-right: 300px;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 20px;
  font-size: large;
  font-weight: 600;
}
.navbar {
  display: flex;
  margin: 10px, 10px;
  justify-content: space-between;
  margin-bottom: 0px;
}
.navmenu a:hover {
  background-color: rgb(255, 19, 19);
}
.banner {
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.title {
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  justify-content: center;
  text-align: justify;
  margin-bottom: 0px;
}
.title a {
  padding: 0px;
  margin: 0px;
  font-size: x-large;
  border: solid gray 1px;
  border-radius: 3px;
}
.contact {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.form {
  width: 50%;
  padding: 30px;
  display: grid;
  grid-template-rows: repeat(14, 40px);
  row-gap: 30px;
}
.form input {
  
  border: 1px solid #f3e3e3;
  background-color: hsl(0, 3%, 40%);
  border-radius: 5px;
  padding: 5px 5px;
}
.about
{
  display: flex;
  justify-content: space-around;

}
.skill
{
  display: flex;
  justify-content: space-between;
}